~$*.xlsx
*.pyc
auto_pack/pack_temp/
~$*.doc
*.orig
editor_script/.idea/
.idea/workspace.xml
.idea/
upconfig/.DS_Store
__client_pack/
upconfig_excel/testupload/
upconfig_excel/local_versions/
upconfig_excel/version_*
upconfig_excel/upconfig_excel_*.zip
testxxx/
publish_client_files/
testxxx_gate/
.vscode/
/sprototool/**/*.ilk
/sprototool/**/*.exp
/sprototool/**/*.suo
/sprototool/.vs/
/sprototool/bin/
/sprototool/lua53/src/*.o
/sprototool/lua53/src/*.a
/sprototool/lua53/src/lua
/sprototool/lua53/src/luac
/sprototool/proto/protocol.spb
/sprototool/proto/protocol.txt
/script/oc_gen/export/
/.vs/JyQipai_tools/v15/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
